@import url('https://fonts.googleapis.com/css2?family=Aboreto&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h2{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: $colorSecundario;
}
nav ul li{
    font-weight: 700;
}